@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@layer reset {
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    margin: unset;
    min-height: 100dvh;
    max-width: 100dvw;
  }

  button,
  input,
  textarea,
  select {
    font: inherit;
  }

  a, 
  a:visited {
    color: inherit;
    text-decoration: none;
  }

  fieldset,
  button,
  dialog {
    border: unset;
    background: unset;
  }

  :focus {
    outline: 0;
  }

  ul {
    list-style-type: none;
  }

  img,
  picture,
  svg,
  canvas {
    display: block;
    max-inline-size: 100%;
    block-size: auto;
  }

  @media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
}

:root {
  --color-white: #fff;
  --color-light: #f8f8f8;
  --color-gray: #e8e8e8;
  --color-dark-gray: #989898;
  --color-dark: #181818;
  --color-action: #3A5FCD;
  --color-positive: #3C763D;
  --color-danger: #B03030;
  --color-action-hover: #2F4CB3;
  --color-positive-hover: #2E6A4F;
  --color-danger-hover: #8B2323;
  --color-completed: #888;
  --color-pending: #FFB74D;
  --color-overlay: #0000009a;

  --shadow: 0 0 10px #0000002a;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.5em;
}

button {
  cursor: pointer;
  transition: transform 0.1s ease-out;
}

button:active {
  transform: scale(0.9);
}

svg {
  height: 2.5em;
  transition: fill 0.1s ease-out;
}

html {
  font-size: clamp(12px, calc(10px + 0.5vw), 16px);
  font-family: "PT Serif", serif;
}

body {
  display: grid;
}

#wrapper {
  display: grid;
  grid-template-rows: auto 1fr;
  background-color: var(--color-light);
  color: var(--color-dark);
  position: relative;
}

header {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 5%;
  position: sticky;
  top: 0;
  align-self: start;
  background-color: var(--color-white);
  box-shadow: var(--shadow);
}

nav {
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
}

.library-add svg {
  fill: var(--color-action);
}

.library-add:hover svg {
  fill: var(--color-action-hover);
}

.library-save svg {
  fill: var(--color-positive);
}

.library-save:hover svg {
  fill: var(--color-positive-hover)
}

main {
  padding: 3rem 5%;
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  align-items: start;
  transition: opacity 0.5s ease;
}

#default-content {
  align-self: center;
  grid-column: 1/4;
  display: grid;
  justify-items: center;
  font-size: 1.25rem;
  gap: 1em;
}

.book-card {
  display: grid;
  gap: 0.75em;
  font-size: 1.25rem;
  padding: 1.5em;
  background-color: var(--color-white);
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
}

.book-title {
  font-style: italic;
}

.card-control {
  display: grid;
  grid-auto-flow: column;
  gap: 0.5em;
  justify-content: end;
}

.card-control svg {
  height: 1.5em;
}

.library-danger svg {
  fill: var(--color-danger);
}

.library-danger:hover svg {
  fill: var(--color-danger-hover);
}

.book-completed svg {
  fill: var(--color-completed);
}

.book-completed:hover svg {
  fill: var(--color-pending);
}

.book-pending svg {
  fill: var(--color-pending);
}

.book-pending:hover svg {
  fill: var(--color-completed);
}

dialog {
  --transition-duration: 0.5s;
  position: fixed;
  inset: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-gray);
  z-index: 3;
  font-size: 1.25rem;
  padding: 2em;
  border-radius: 0.4em;
  box-shadow: var(--shadow);
  transition: opacity var(--transition-duration) ease;
  overflow: visible;
}

.invisible {
  opacity: 0;
}

dialog.invisible::backdrop {
  background-color: rgba(0, 0, 0, 0); 
}

dialog::backdrop {
  background-color: var(--color-overlay);
  transition: background-color var(--transition-duration) ease;
}

form {
  --transition-duration: 0.2s;
  display: grid;
  justify-content: center;
  gap: 1em;
}

label {
  position: relative;
}

/* Remove controls  */
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
  -ms-appearance: textfield;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:not([type=checkbox]) {
  border: none;
  padding: 0.35em 15% 0.35em 0.35em;
  background-color: var(--color-light);
  border-radius: 0.2em;
  width: 15em;
  caret-color: var(--color-dark);
}

input::placeholder {
  color: var(--color-dark-gray)
}

label[for=isRead] {
  width: 2em;
  display: grid;
  place-items: center;
}

label[for=isRead] button {
  position: absolute;
}

input[type=checkbox] {
  appearance: none;
}

form .card-control svg {
  height: 2em;
}

form .card-control {
  grid-template-columns: 1fr;
}

/* Validation */

input.invalid {
  color: var(--color-danger-hover);
}

input.invalid::placeholder {
  color: var(--color-danger);
}

input.invalid,
input.invalid::placeholder {
  transition: color var(--transition-duration) ease;
}

form .library-danger {
  visibility: hidden;
  transition: opacity var(--transition-duration) ease;
}

label .library-danger {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5%;
}

label .library-danger svg {
  height: 1em;
}

.card-control .library-danger {
  justify-self: start;
}

/* Tooltips */

.tooltip-container {
  position: relative;
}

.tooltip-text {
  font-size: 0.75rem;
  font-weight: 500;
  padding: 0.35em 1em;
  border-radius: 0.3em;
  color: var(--color-light);

  display: grid;
  place-items: center;

  visibility: hidden;
  position: absolute;
  height: fit-content;
  width: max-content;
  
  z-index: 4;
  opacity: 0;
  transition: opacity 0.4s ease-out; 
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
  top: 105%;
  left: 50%;
  transform: translateX(-50%);
}

@media only screen and (max-width: 425px) {
  main {
    grid-template-columns: 1fr;
  }
}



